/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

$white: hsl(0, 0%, 100%);
$slate300: hsl(212, 45%, 89%);
$slate500: hsl(216, 15%, 48%);
$slate900: hsl(218, 44%, 22%);

$Mobile: 375px;
$Desktop: 1440px;

body {
  font-family: "Outfit", sans-serif;
}